/* created by chacha */

body {
    background: #f4f4f4;
}

@font-color-E8: #E8E8E8;
@bg-color-34: #343434;
@theme-color-blue: #1573C6;
@bg-color-blue: #c2def2;


/* 页面加载进入动画 */
.ant-progress-circle-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: @bg-color-blue;
    .ant-progress-circle-inner {
        top: 50%;
        margin: 0 auto;
        -webkit-transform : translateY(-50%);
        transform: translateY(-50%);
    }
    .rc-progress-circle-trail,
    .rc-progress-circle-path {
        stroke-width: 4px;
    }
    .rc-progress-circle-path {
        stroke: @theme-color-blue;
    }
    .ant-progress-circle-text {
        color: white;
    }
}


/* 导航菜单组件样式 */
.nav-bar {
    height: 60px;
    background: @bg-color-34;
    .nav-logo {
        height: 60px;
        overflow: hidden;
        a {
            display: inline-block;
            margin-top: 13px;
            margin-left: 10%;
            font-size: 0;
        }
        img {
            width: 138px;
            height: 34px;
        }
    }
    .nav-menu {
        ul{
            float: right;
            margin-right: 10%;
            line-height: 60px;
        }
        li {
            float: left;
            font-size: 16px;
            margin-right: 50px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}


/* 页脚组件样式 */
.footer {
    height: 200px;
    background: @bg-color-34;
    text-align: center;
    overflow: hidden;
    ul {
        display: inline-block;
        line-height: 1;
    }
    .footer-logo {
        margin-top: 20px;
    }
    .footer-nav {
        margin-top: 30px;
        li{
            float: left;
            margin-right: 50px;
            font-size: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .footer-social-icon {
        li{
            float: left;
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
        }
        .iconfont {  
            font-size: 40px;
            color: black;
        }
    }
    .footer-social-icon,
    .footer-info {
        margin-top: 10px;
    }
}

.nav-menu,
.footer-nav {
    a { 
        color: @font-color-E8;
        &:hover,
        &.nav-active {
            color: @theme-color-blue;
        }
    }
}


/* Banner图片样式 */
.banner-img{
    
}


