/* created by chacha */
@import "IconFont";

body {
    background: #f4f4f4;
}

/* 颜色主题 */
@font-color-E8: #E8E8E8;
@font-color-81: #818181;;
@bg-color-34: #343434;
@bg-color-F2: #F2F2F2;
@bg-color-blue: #c2def2;
@theme-color-blue: #1573C6;

p {
    text-align: center;
}


/* 页面加载进入动画 */
.ant-progress-circle-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: @bg-color-blue;
    .ant-progress-circle-inner {
        top: 50%;
        margin: 0 auto;
        -webkit-transform : translateY(-50%);
        transform: translateY(-50%);
    }
    .rc-progress-circle-trail,
    .rc-progress-circle-path {
        stroke-width: 4px;
    }
    .rc-progress-circle-path {
        stroke: @theme-color-blue;
    }
    .ant-progress-circle-text {
        color: white;
    }
}


/* 导航菜单组件样式 */
.nav-bar {
    height: 60px;
    background: @bg-color-34;
    .nav-logo {
        height: 60px;
        overflow: hidden;
        a {
            display: inline-block;
            margin-top: 13px;
            margin-left: 10%;
            font-size: 0;
        }
        img {
            width: 138px;
            height: 34px;
        }
    }
    .nav-menu {
        ul{
            float: right;
            margin-right: 10%;
            line-height: 60px;
        }
        li {
            float: left;
            font-size: 16px;
            margin-right: 50px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}


/* 页脚组件样式 */
.footer {
    height: 200px;
    background: @bg-color-34;
    text-align: center;
    position: relative;
    ul {
        display: inline-block;
        line-height: 1;
    }
    .footer-logo {
        padding-top: 20px;
    }
    .footer-nav {
        margin-top: 30px;
        li{
            float: left;
            margin-right: 50px;
            font-size: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .footer-social-icon {
//        li {
//            float: left;
//            margin-right: 40px;
//            &:last-child {
//                margin-right: 0;
//            }
//        }
        .iconfont {  
            font-size: 40px;
            color: black;
            cursor: default;
        }
        display: inline-block;
        height: 40px;
        line-height: 1;
        &:hover .tips-box {
            opacity: 1;
            -webkit-transform: matrix(1,0,0,1,1,1);
            -moz-transform: matrix(1,0,0,1,1,1);
            transform: matrix(1,0,0,1,1,1);
        }
    }
    .footer-social-icon,
    .footer-info {
        margin-top: 10px;
    }
}

/* 页脚tips组件样式 */
.tips-box {
    position: absolute;
    bottom: 100px;
    width: 280px;
    height: 160px;
    left: 50%;
    margin-left: -140px;
    background: @bg-color-34;
    padding: 15px;
    opacity: 0;
    box-shadow: 0 3px 12px rgba(0,0,0,0.5);
    -webkit-transform: matrix(1,0,0,.2,1,1);
    -moz-transform: matrix(1,0,0,.2,1,1);
    transform: matrix(1,0,0,.2,1,1);
    -webkit-transition: all .5s cubic-bezier(.68,-0.55,.27,1.55);
    -moz-transition: all .5s cubic-bezier(.68,-0.55,.27,1.55);
    transition: all .5s cubic-bezier(.68,-0.55,.27,1.55);
    &:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -10px;
        border-top: 15px @bg-color-34 solid;
        border-left: 10px transparent solid;
        border-right: 10px transparent solid;
        border-bottom: 0 transparent solid;
    }
    .tips-img {
        float: left;
        height: 130px;
    }
    .tips-info {
        color: @font-color-E8;
        margin-left: 130px;
        height: 130px;
        font-size: 16px;
        text-align: center;
        .iconfont {
            color: @font-color-E8;
        }
    }
}

.nav-menu,
.footer-nav {
    a { 
        color: @font-color-E8;
        &:hover,
        &.nav-active {
            color: @theme-color-blue;
        }
    }
}


/* 我的作品组件样式 */
.portfolio-box {
    height: auto;
    padding-bottom: 80px;
    overflow: hidden;
    background: @bg-color-F2;
    h1 {
        margin: 50px;
        text-align: center;
        font-size: 24px;
    }
    .row {
        max-width: 1440px;
        margin: 0 auto;
    }
    .portfolio-item {
        margin: 0 auto;
        height: 410px;
        max-width: 300px;
        min-width: 250px;
        -webkit-transition: all .3s cubic-bezier(.68,-0.55,.27,1.55);
        -moz-transition: all .3s cubic-bezier(.68,-0.55,.27,1.55);
        transition: all .3s cubic-bezier(.68,-0.55,.27,1.55);
        cursor: move;
        &:hover {
            box-shadow: 0 5px 35px rgba(52,52,52,0.5);
        }
        .portfolio-img {
            width: 100%;
            height: 250px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .portfolio-desc {
            height: 160px;
            padding: 15px;
            background: white;
        }
        a {
            color: @bg-color-34;
        }
        h2 {
            font-size: 18px;
        }
        p {
            margin-top: 10px;
            font-size: 14px;
            text-align: left;
            color: @font-color-81;
        }
    }
}


/* Banner图片样式 */
.banner-img-box {
    height: 600px;
    width: 100%;
    background: no-repeat center;
    background-size: cover;
    overflow: hidden;
}


/* 按钮样式 */
.rect-button {
    display: inline-block;
    width: 140px;
    line-height: 50px;
    text-align: center;
    background: @theme-color-blue;
    opacity: 0.75;
    font-size: 16px;
    color: white;
    transition: all .3s;
    &:hover{
        opacity: 1;
        color: white;
    }
}


/* 首页banner样式 */
.banner-img-box {
    p {
        max-width: 300px;
        margin: 10px auto;
        font-size: 16px;
        color: white;
    }
    .banner-logo {
        max-width: 380px;
        margin: 140px auto;
        margin-bottom: 0;
    }
    .banner-buttons {
        max-width: 380px;
        margin: 30px auto;
    }
    .rect-button {
        margin-right: 100px;
        &:first-child {
            background: @bg-color-34;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}


/* 首页关于样式 */
.home-about {
    height: 620px;
    background: white;
    text-align: center;
    .about-user-head {
        display: inline-block;
        margin-top: 88px;
        width: 300px;
        height: 300px;
        img{
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
    }
    .about-content {
        max-width: 550px;
        margin: 20px auto;
        h1 {
            font-size: 24px;
        }
        h2,
        p {
            font-size: 16px;
        }
        p {
            padding: 0 20px;
            color: @font-color-81;
        }
    }
}


/* 首页更多信息组件 */
.more-info {
    background: @theme-color-blue;
    height: 300px;
    color: @font-color-E8;
    text-align: center;
    overflow: hidden;
    p {
        font-size: 16px;
        margin-top: 76px;
        &:last-child {
            margin-top: 15px;
        }
    }
    a {
        margin-left: 6px;
    }
    .rect-button{
        background: @bg-color-34;
        margin-top: 15px;
    }
}

/* 首页更多作品 */
.home-more-works {
    background: ＃fff;
    p {
        max-width: 468px;
        margin: 85px auto 0;
        color: @font-color-81;
    }
    .rect-button {
        background: @theme-color-blue;
        margin-left: 0;
    }
}
